
@{
    ViewBag.Title = "Unversity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unversity Management System</h2>



<a href="/ImportSamples/Download/?file=Subject_Import.xlsx"> Course Import Sample</a>