



<script>
    $(document).ready(function () {
        $("#from").datepicker({
            autoClose: true,
            format: "yyyy/mm/dd"
        })
        $("#to").datepicker({
            autoClose: true,
            format: "yyyy/mm/dd"
        })
    })
</script>



@{
    ViewBag.Title = "Customer Prepaid";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    SameSoftWeb.Models.SameSoftwareWebEntities db = new SameSoftWeb.Models.SameSoftwareWebEntities();

    var cust = db.tblCustomers.Where(a => a.Status == "Active").Select(a => new
    {
        id = a.CustomerID,
        name = a.Customer_Name
    }).ToList();

    ViewBag.customer = new SelectList(cust, "id", "name");


    var cash = db.Sp_Get_Cash_Bank_Account().Select(a => new
    {
        name = a.ACCOUNT_NAME,
        id = a.ACCOUNT_NUMBER
    }).ToList();
    ViewBag.cashacc = new SelectList(cash, "id", "name");

}
<div class="content-body">
    <!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Add Customer Prepaid</b></h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">

                        <style>
                            input, select {
                                font-weight: bold;
                            }
                        </style>


                        <hr />
                        <form method="post" action="\Cust\AddCustomerPrepaid">


                            <div class="row" style="width:40%;margin:auto;">
                                <div class="list-group-item" style="background-color:#438E14;color:white;">
                                    <h3 style="color:white;"></h3>
                                </div>

                                <div class="list-group-item">

                                    Transaction Date
                                    <input type="text" id="from" required="" class="form-control" name="trandate" value="" />
                                    Select Customer
                                    @Html.DropDownList("customer", null, "Select  Customer", new { @class = "form-control" })
                                    Cash Account
                                    @Html.DropDownList("cashacc", null, "Select Cash Account", new { @class = "form-control" })
                                    Description
                                    <input type="text" class="form-control" name="desc" placeholder="Prepaid Description" />
                                    Amonut
                                    <input type="text" class="form-control" name="amount" placeholder="Amount" />

                                    <br />
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Tables end -->
</div>