
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Customers</h2>
<hr />

<ol class="custom-counter">
   
    <div class="col-md-4">
        <h4>Mogadishu</h4>
        <b>Universites</b>
        <li>Banadir University(BU)</li>
        <li>Somali International University(SIU)</li>
        <b>Airlines</b>
        <li>Nasri Air Limited</li>

        <b>Hospitals</b>
        <li>Kalkaal Speciality Hospital</li>
        <li>Bullaale Specialist Hospital</li>
        <li>Ayaan  Hospital</li>
        <b>Travel Agents</b>

        <li>Royalsom Tour & Travel</li>
        <li>Daruro Travel and Logistics</li>
        <li>Tusmo Travel Services</li>
        <li>Cibaar Travel & General Services</li>
        <li>Macqul Travel Agency</li>
        <li>Kofi Express Travel Services</li>

        <b>Hotels & Restaurants</b>
        <li>Hotel Makkah Almukarramah</li>
        <li>Hotel Safari</li>
        <li>Hotel Sahafi</li>
        <li>African Hotel</li>
        <li>Mogadishu Guest House</li>
        <li>Sahafi Hotel</li>
        <li>Afrik Hotel</li>
        <li>Hayat Hotel </li>
     

    </div>


    <div class="col-md-4">
        <li>Dayah Hotel</li>
        <li>Deplomatic Hotel</li>
        <li>Ramada Hotel</li>
        <li>Giyajo Hotel</li>
        <li>SYL Hotel</li>
        <li>Sayyid Hotel</li>
        <li>City Palace Hotel</li>
        <li>Hotel Al Furat</li>
        <li> Liido Seafood
        <li>
            Bureeqo Restaurant
        <li>
            Karmel Restaurant
        <li>
            Spagete House
        <li>
            Hilac Uk Restaurant
        <li>
            Albaik Barnch 1
        <li>
            Albaik Branch 2
        <li>
            Albaik Branch 3
        <li>
            Albasha Restaurant
        <li>
            Cadaani Chicken and Chips
        <li>
            BeachView Restaurant
        <li>
            Xadrami Restaurant

        <li>
            Caira Restaurant
        <li>
            Pizza House
        <li>
            Italian Coffee
        <li>
            Beerta Nabada

        <li> Ister Restaurant

</div>
    <div class="col-md-4">
        
        <h4>Kismayo</h4>
      <li>  Agan Hotel
        <li>Hotel Kismaayo
        <h4>Gaalkacyo</h4>
        <li>Five Star Hotel
        <h4>Hargaysa</h4>

        <li>
            Safari Hotel
        <li>
            Sugaal Hotel
        <li>
            Star Hotel
        <li>
            Hadhwanaag Hotel
        <li>
            Bacado Restaurant
        <li>
            Harar Restaurant
        <li>
            Han Bila restaurant
        <li>
            Albeik Fast food
        <li>
            Soorsan Bakery

            <h4>Boorama</h4>
        <li>

            Rays Hotel
        <li>
            Haldoor Hotel

            <h4>Burco</h4>

        <li> Kaafi Business Center










</div>
</ol>














<style>
    body {
 font-size:13pt;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 60px;
}


.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content:"\f006" ;
  margin-right: 6px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

</style>

@*counter(step-counter)*@

