
@{ ViewBag.Title = "Products"; }

<section id="subheader" data-bgimage="url(~/Content2/images/background/5.png) bottom">
    <div class="center-y relative text-center" data-scroll-speed="4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                        <div class="col-md-12 text-center">
                            <h1>Our Products</h1>

                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-hotel"></i></div>
                <img src="~/Content2/images/services/4_.jpg" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>HOTEL MANAGEMENT SYSTEM</h4>


        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-graduation-cap"></i></div>
                <img src="~/Content2/images/services/2_.jpg" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>UNIVERSITY MANAGEMENT SYSTEM</h4>


        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-hospital-o"></i></div>
                <img src="~/Content2/images/services/5_.jpg" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>HOSPITAL ACCOUNTING SOLUTIONS</h4>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-home"></i></div>
                <img src="~/Content2/images/services/6_.jpg" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>TRAVEL AGENCY MANAGEMENT SYSTEM</h4>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-hdd-o"></i></div>
                <img src="~/Content2/images/services/1_.jpeg" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>INVENTORY MANAGEMENT SYSTEM</h4>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mb30">
            <div class="fp-wrap f-invert mb20">
                <div class="fp-icon"><i class="fa fa-plane"></i></div>
                <img src="~/Content2/images/services/3_.JFIF" class="fp-image img-fluid" alt="" style="height:250px">
            </div>

            <h4>AIRLINE MANAGEMENT SYSTEM</h4>

        </div>

        <div>
        </div>




    </div>

</div>
