


@{ ViewBag.Title = "Hotelsandrestaurant";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="service_details_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <br />
                <br />
                <h4>Mogadishu</h4>
                <b>Universites</b>
                <ul>
                    <li>Banadir University(BU)</li>
                    <li>Somali International University(SIU)</li>
                </ul>
                <b>Airlines</b>

                <ul>
                    <li>Nasri Air Limited</li>
                </ul>
                <b>Hospitals</b>
                <ul>
                    <li>Kalkaal Speciality Hospital</li>
                    <li>Bullaale Specialist Hospital</li>
                    <li>Ayaan  Hospital</li>

                </ul>
                <b>Travel Agents</b>
                <ul>
                    <li>Royalsom Tour & Travel</li>
                    <li>Daruro Travel and Logistics</li>
                    <li>Tusmo Travel Services</li>
                    <li>Cibaar Travel & General Services</li>
                    <li>Macqul Travel Agency</li>
                    <li>Kofi Express Travel Services</li>
                </ul>
                <b>Hotels & Restaurants</b>
                <ul>
                    <li>Hotel Makkah Almukarramah</li>
                    <li>Hotel Safari</li>
                    <li>Hotel Sahafi</li>
                    <li>African Hotel</li>
                    <li>Mogadishu Guest House</li>
                    <li>Sahafi Hotel</li>
                    <li>Afrik Hotel</li>
                    <li>Hayat Hotel </li>
                </ul>

            </div>
            <div class="col-md-3">
                <br />
                <br />
                <br />
                <ul>
                    <li>Dayah Hotel</li>
                    <li>Deplomatic Hotel</li>
                    <li>Ramada Hotel</li>
                    <li>Giyajo Hotel</li>
                    <li>SYL Hotel</li>
                    <li>Sayyid Hotel</li>
                    <li>City Palace Hotel</li>
                    <li>Hotel Al Furat</li>
                    <li> Liido Seafood
                    <li>
                        Bureeqo Restaurant
                    <li>
                        Karmel Restaurant
                    <li>
                        Spagete House
                    <li>
                        Hilac Uk Restaurant
                    <li>
                        Albaik Barnch 1
                    <li>
                        Albaik Branch 2
                    <li>
                        Albaik Branch 3
                    <li>
                        Albasha Restaurant
                    <li>
                        Cadaani Chicken and Chips
                    <li>
                        BeachView Restaurant
                    <li>
                        Xadrami Restaurant

                    <li>
                        Caira Restaurant
                    <li>
                        Pizza House
                    <li>
                        Italian Coffee
                    <li>
                        Beerta Nabada

                    <li> Ister Restaurant
                </ul>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <h4>Kismayo</h4>
                <ul>
                    <li>  Agan Hotel
                    <li>
                        Hotel Kismaayo
                </ul>
                <h4>Gaalkacyo</h4>
                <ul>
                    <li>
                        Five Star Hotel
                </ul>
                <h4>Hargaysa</h4>
                <ul>
                    <li>
                        Safari Hotel
                    <li>
                        Sugaal Hotel
                    <li>
                        Star Hotel
                    <li>
                        Hadhwanaag Hotel
                    <li>
                        Bacado Restaurant
                    <li>
                        Harar Restaurant
                    <li>
                        Han Bila restaurant
                    <li>
                        Albeik Fast food
                    <li>
                        Soorsan Bakery
                </ul>
                <h4>Boorama</h4>
                <ul>
                    <li>

                        Rays Hotel
                    <li>
                        Haldoor Hotel

                        <h4>Burco</h4>

                    <li> Kaafi Business Center
                </ul>
            </div>

            <div class="col-md-3">
                <section class="no-top">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-md-6">
                                <h3>Our Services</h3>

                            </div>



                        </div>



                        <div class="row">


                            <div class="col-md-3">
                                <div id="accordion-1" class="accordion accordion-style-1">

                                    <!-- Accordion item 1 -->
                                    <div class="card">
                                        <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a1" aria-expanded="false" aria-controls="collapse-a1" class="d-block position-relative text-dark collapsible-link py-2">UNIVERSITY MANAGEMENT SYSTEM</a></h6>
                                        </div>
                                        <div id="collapse-a1" aria-labelledby="heading-a1" data-parent="#accordion-1" class="collapse">
                                            <div class="card-body p-4">
                                                <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Accordion item 2 -->
                                    <div class="card">
                                        <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a2" aria-expanded="false" aria-controls="collapse-a2" class="d-block position-relative collapsed text-dark collapsible-link py-2">AIRLINE RESERVATION SYSTEM</a></h6>
                                        </div>
                                        <div id="collapse-a2" aria-labelledby="heading-a2" data-parent="#accordion-1" class="collapse">
                                            <div class="card-body p-4">
                                                <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Accordion item 3 -->
                                    <div class="card">
                                        <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a3" aria-expanded="false" aria-controls="collapse-a3" class="d-block position-relative collapsed text-dark collapsible-link py-2">AGENCY & CARGO ACCOUNTING SYSTEM</a></h6>
                                        </div>
                                        <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1" class="collapse">
                                            <div class="card-body p-4">
                                                <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a3" aria-expanded="false" aria-controls="collapse-a3" class="d-block position-relative collapsed text-dark collapsible-link py-2">WEB DEVELOPMENT</a></h6>
                                        </div>
                                        <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1" class="collapse">
                                            <div class="card-body p-4">
                                                <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a3" aria-expanded="false" aria-controls="collapse-a3" class="d-block position-relative collapsed text-dark collapsible-link py-2">CUSTOM SOFTWARE</a></h6>
                                        </div>
                                        <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1" class="collapse">
                                            <div class="card-body p-4">
                                                <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="align-self-center ml-auto col-md-12">
                                        <a class="btn-custom" href="#"> Get A Quote</a>
                                        <span id="menu-btn"></span>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </section>

            </div>
        </div>
    </div>
</section>



