
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Start Sercice Area -->
<section class="work_area section_padding section_gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="page_title text-center">
                    <h2>SOM OUR SOLUTIONS</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="single_service">
                    <a href=""><img src="~/Skin1/img/service_11.jpg" alt=""></a>
                    <div class="service_title">
                        <i class="fa fa-truck"></i>
                        <h4><a href="#">Hotel Management System</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="single_service">
                    <a href=""><img src="~/Skin1/img/service_19.jpg" alt=""></a>
                    <div class="service_title">
                        <i class="fa fa-fighter-jet"></i>
                        <h4><a href="#">University Management System</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="single_service">
                    <a href=""><img src="~/Skin1/img/service_13.jpg" alt=""></a>
                    <div class="service_title">
                        <i class="fa fa-dropbox"></i>
                        <h4><a href="#">Hospital Accounting Solutions</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="single_service">
                    <a href=""><img src="~/Skin1/img/service_17.jpg" alt=""></a>
                    <div class="service_title">
                        <i class="fa fa-dropbox"></i>
                        <h4><a href="#">Travel Agency Management System</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="single_service">
                    <a href=""><img src="~/Skin1/img/service_18.jpg" alt=""></a>
                    <div class="service_title">
                        <i class="fa fa-shopping-cart"></i>
                        <h4><a href="#">Airline Management System</a></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single_service">
                        <a href=""><img src="~/Skin1/img/service_12.jpg" alt=""></a>
                        <div class="service_title">
                            <i class="fa fa-truck"></i>
                            <h4><a href="#">Inventory Management System</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single_service">
                        <a href=""><img src="~/Skin1/img/service_14.jpg" alt=""></a>
                        <div class="service_title">
                            <i class="fa fa-fighter-jet"></i>
                            <h4><a href="#">Pharmacy Management System</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single_service">
                        <a href=""><img src="~/Skin1/img/service_16.jpg" alt=""></a>
                        <div class="service_title">
                            <i class="fa fa-briefcase"></i>
                            <h4><a href="#">Custom Management System</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single_service">
                        <a href=""><img src="~/Skin1/img/service_16.jpg" alt=""></a>
                        <div class="service_title">
                            <i class="fa fa-dropbox"></i>
                            <h4><a href="#">Attendance Management System</a></h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</section>
<!--End Service Area-->