@*<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/css/flexslider.css" rel="stylesheet" />
<!-- Vendor Styles -->
<link href="/css/magnific-popup.css" rel="stylesheet">
<!-- Block Styles -->
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/gallery-1.css" rel="stylesheet">

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Same Soft Product List</h4>




 <!-- Start Gallery 1-2 -->
<section id="gallery-1" class="content-block section-wrapper gallery-1">
    <div class="container">

        <div class="editContent">
            <ul class="filter">
                <li class="active"><a href="#" data-filter="*">Universities</a></li>
                <li><a href="#" data-filter=".artwork">Airlines</a></li>
                <li><a href="#" data-filter=".creative">Hotels</a></li>
                <li><a href="#" data-filter=".nature">Restaurants</a></li>
                <li><a href="#" data-filter=".outside">Hospitals</a></li>
                <li><a href="#" data-filter=".photography">Photography</a></li>
            </ul>
        </div>
        <!-- /.gallery-filter -->

        <div class="row">
            <div id="isotope-gallery-container">
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/1.jpg" class="img-responsive" alt="1st gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/1.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>Web-based University Management System</h6>
                            </div>
                            <div class="editContent">
                                <p>Complete University Information System with Accounting.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/2.jpg" class="img-responsive" alt="2nd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/2.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>Airline Reservation System</h6>
                            </div>
                            <div class="editContent">
                                <p>Web-based Airline Reservation & Accounting System</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/3.jpg" class="img-responsive" alt="3rd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/3.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>Agency & Cargo Accounting System</h6>
                            </div>
                            <div class="editContent">
                                <p>Web-Based Agency Accounting System.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/4.jpg" class="img-responsive" alt="4th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/4.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>Complete Hospital Management System</h6>
                            </div>
                            <div class="editContent">
                                <p>Hospital Management System with Full Accounting.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/6.jpg" class="img-responsive" alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/6.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>6th gallery Item</h6>
                            </div>
                            <div class="editContent">
                                <p>Nullam id dolor id nibh ultricies vehicula.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="img/works/6.jpg" class="img-responsive" alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="img/works/6.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h6>6th gallery Item</h6>
                            </div>
                            <div class="editContent">
                                <p>Nullam id dolor id nibh ultricies vehicula.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.isotope-gallery-container -->
        </div>
        <!-- /.row -->
        <!-- /.container -->
    </div>
</section>
<!--// End Gallery 1-2 -->
	</div>
<footer>*@